$TextC:rgba(2, 7, 25, 0.85);
$Width:100vh;
$height:100vh;
html{
    margin: 0%;
    padding: 0%;
}
body{
    margin: 0%;
    padding: 0%;
}
@font-face{
    font-family: Mainfont;
    src: url(../../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
    
}
h1,h2,h3,h4,h5,h6,span,div,input[type=text],
input[type=password],a{
    font-family: Mainfont;
    font-weight: 500;
    color: $TextC;
}
ul{
    list-style: none;
}
.Container {
    justify-content: center;
    align-items: center;
    display: flex;
    height: $height;
}
.Inputs{
    background-color: rgba(71, 90, 80, 0.5);
    width: 100%;
    padding: 12px 20px 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px rgb(39, 56, 47);
    box-sizing: border-box;
    border-radius: 4px;
}
.Inputs:focus::placeholder{
    opacity: 0;
}
.Submit{
    width: 100%;
    height: 6vh;
    background-color: $TextC;
    color: white;
}
.Fpsw{
    float: right;
    cursor: pointer;
}
  