.idea/
.vs/
.vscode/
.node_modules/
link.html
.gitignore
/Bot/node_modules
/Bot/.env
/Bot/.package.json
/Bot/.package-lock.json
/includes/dbh.inc.php
/includes/fonts
.json
.lock
/vendor
/includes/f.env