img{
    height: 55vh;
    width: 35vw;
    margin-bottom: 5%;
}
body{
    background-image: linear-gradient(to top right, rgba(201, 252, 182, 0.8),rgba(165, 255, 123, 0.9));
    background-repeat: none;
    height: 98vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    color: rgba(15, 15, 15, 0.8);
    font-size: 300%;
}