script {
    display: none !important;
}

html {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom left, rgba(54, 68, 61, 0.7), rgba(78, 95, 88, 0.8), rgba(65, 87, 75, 0.8));
}

body {
    padding: 0;
    height: 100vh;
    width: 100vw;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

label, input, button, a, input::placeholder,textarea::placeholder, h1, h2, h3, h4, h5, p {
    font-family: "Cascadia Code", serif !important;
}

label {
    font-weight: 300;
}

input::placeholder {
    font-weight: 100;
}

.fw {
    font-family: Cascadia Code, serif;
    font-weight: 350;
}
main {

    width: 100vw;
    height: 87.5vh;
}
.colum{
    flex-direction: column;
}

.flex {
    display: flex !important;
    justify-content: center;
    align-items: center;
}




/*Navbar*/
.Navbar {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
    overflow: hidden;
    background-color: rgba(84, 105, 97, 0.8);
}

.Head {
    height: 10vh;
    width: 100vw;
    position: relative;
}

.Navbar > ul {
    list-style: none;
}

.nav {
    list-style: none;
}

.nav-link {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 2px 10px 4px;
    text-decoration: none;
    transform: translateY(-6px);
    font-size: 120%;
}

.flt-right {
    background-color: rgba(44, 78, 59, 0);
    border: 0;
    right: 1vw;
    position: relative;
    float: inline-end;
    font-size: 130%;
    cursor: pointer;
}

.Lgmb {
    font-size: 119%;
}

/*transitions/animations*/
.nav-link:hover {
    opacity: 1;
}

.nav-link::before {
    transition: 400ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: rgba(44, 78, 59, 0.5);
}

.nav-link-ltr::before {
    width: 0;
    bottom: 2%;
}

.nav-link-ltr:hover::before {
    width: 85%;
}

.nav-link:hover {
    color: rgba(44, 78, 59, 0.7);
    background-color: rgba(80, 129, 110, 0.3);
}
.Padding{
    margin-bottom: 3vh;
}
.Inputs{
    border-radius: 5px;
    border: 0;
    height: 2.5vh;
}
.Inputs::placeholder{
    text-align: left;
    font-weight: 400;
    color: black;
}
.textbox::placeholder{
    text-align: left;
    font-weight: 40;
    color: black;
}
.textbox{
    width: 30vw;
    height: 20vh;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
.Email{
    margin-top: 2vh;
    width: 30vw;
    height: 3vh;
}
#Button{
    border: 0;
    border-radius: 10px;
    height: 3vh;
    width: 5vw;
    background-image: linear-gradient(to right,rgba(54, 68, 61, 0.7),rgba(65, 87, 75, 0.8));
    color: black;
    cursor: pointer;
}
.Text{
    font-size: 2em;
}